.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

h1 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.todo-input::placeholder {
  font-size: 21px;
  color: rgb(100, 100, 100);
}

.todo-input {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 400px;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(200, 200, 200);
  font-size: 21px;
  outline: none;
  margin-right: 10px;
}

.right-section {
  display: flex;
}

.add-button {
  color: white;
  background-color: rgb(85, 90, 90);
  border: none;
  width: 48px;
  height: 45px;
  font-size: 31px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.add-button:hover {
  opacity: 80%;
}

@media (max-width: 670px) {
  .top {
    margin-bottom: 3px;
  }
  h1 {
    margin-bottom: 0px;
  }

  .todo-input::placeholder {
    font-size: 11px;
  }
  .todo-input {
    width: 170px;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    border-radius: 3px;
    border-width: 0.05em;
  }
  .add-button {
    width: 24px;
    height: 23px;
    font-size: 14px;
    border-radius: 3px;
  }
}
